.hero-container {
    display: flex;
    gap: 20px;

    .hero-left{
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;
        img{
            width: 100%;
            height: 100%;
            flex: 1;
            object-fit: contain;
        }
        .hero-left-bottom{
            flex: 1;
            display: flex;

            .bright-future-left{
                flex: 1;
            }
            .bright-future-right{
                flex: 1;
            }
        }
    }
    .hero-right {

        flex: 1;

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

    }
}