.app{
    // max-height: 100vh;
    display: flex;
    flex-direction: column;
    // align-items: center;
    width: 100vw;
    padding: 1rem 12rem;
    gap: 20px;

    .articles-container{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}