.app{
    // max-height: 100vh;
    display: flex;
    flex-direction: column;
    // align-items: center;
    width: 100vw;
    padding: 1rem 12rem;
    gap: 20px;
    position: relative;

    .articles-container{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}

@media screen and (max-width: 375px){

    .app{
        padding: 1rem;
        .articles-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
}